Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

update golang
  .github/workflows/deploy.yml
Due: none

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@d4784a12e5ac4d6b5c79385ca6c0862854ef2db6 🚀
  404.html.gz
  app-6ca1fa6aad540cc3daab.js
  app-6ca1fa6aad540cc3daab.js.gz
  app-6ca1fa6aad540cc3daab.js.map
  app-79a649fe6fe21004f886.js
  app-79a649fe6fe21004f886.js.gz
  app-79a649fe6fe21004f886.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-a72428b6521fc940a5cf.js.gz
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@5ed8a55d11ba14c2fbad31369b47a11cf8c81302 🚀
  404.html.gz
  app-0ed64168862da71ad8aa.js
  app-0ed64168862da71ad8aa.js.gz
  app-0ed64168862da71ad8aa.js.map
  app-6ca1fa6aad540cc3daab.js
  app-6ca1fa6aad540cc3daab.js.gz
  app-6ca1fa6aad540cc3daab.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-57330d861d34325ac63c.js
  ww-57330d861d34325ac63c.js.gz
  ww-57330d861d34325ac63c.js.map
  ww-a72428b6521fc940a5cf.js
  ww-a72428b6521fc940a5cf.js.gz
  ww-a72428b6521fc940a5cf.js.map
Due: eslint

add bench for parser
  README.md
  wasm_parser/parser/bench.html
  wasm_parser/parser/parser_test.go
Due: none

Deploying to gh-pages from @ le0pard/vmail@dd6cd1b290d4616d2c53e7e43474f03cb47c2ac6 🚀
  404.html.gz
  app-0ed64168862da71ad8aa.js.gz
  app-d43e574195d15b64791d.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-57330d861d34325ac63c.js.gz
Due: none

add bench for parser
  README.md
Due: none

Deploying to gh-pages from @ le0pard/vmail@0ccf3c53ab06dd16c33a5ae6209d8d4e52c3b6a5 🚀
  404.html.gz
  app-0ed64168862da71ad8aa.js
  app-0ed64168862da71ad8aa.js.gz
  app-0ed64168862da71ad8aa.js.map
  app-58b435b1fa9e4bb755ce.js
  app-58b435b1fa9e4bb755ce.js.gz
  app-58b435b1fa9e4bb755ce.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-57330d861d34325ac63c.js.gz
Due: eslint

more rules
  wasm_parser/parser/parser.go
Due: none

Deploying to gh-pages from @ le0pard/vmail@8fecae1f9530f2120b13edf666f7263453867f73 🚀
  404.html.gz
  app-0ed64168862da71ad8aa.js
  app-0ed64168862da71ad8aa.js.gz
  app-0ed64168862da71ad8aa.js.map
  app-58b435b1fa9e4bb755ce.js
  app-58b435b1fa9e4bb755ce.js.gz
  app-58b435b1fa9e4bb755ce.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-57330d861d34325ac63c.js.gz
Due: eslint

correct line num for special cases
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/parser.go
  wasm_parser/parser/parser_test.go
Due: none

Deploying to gh-pages from @ le0pard/vmail@09a891994750f4e70e87d4f16e8e5966a2b64317 🚀
  404.html.gz
  app-0ed64168862da71ad8aa.js.gz
  app-d43e574195d15b64791d.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-57330d861d34325ac63c.js.gz
Due: none

tidy
  wasm_parser/go.mod
  wasm_parser/go.sum
Due: none

tidy
  wasm_parser/parser/parser.go
Due: none

Deploying to gh-pages from @ le0pard/vmail@0110b4d97de06349589fc282db1dd5d591de809a 🚀
  404.html.gz
  app-0ed64168862da71ad8aa.js.gz
  app-d43e574195d15b64791d.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-57330d861d34325ac63c.js.gz
Due: none

Deploying to gh-pages from @ le0pard/vmail@02efc85d12659f63fe66830cd3ee9e611028f500 🚀
  404.html.gz
  app-0ed64168862da71ad8aa.js
  app-0ed64168862da71ad8aa.js.gz
  app-0ed64168862da71ad8aa.js.map
  app-58b435b1fa9e4bb755ce.js
  app-58b435b1fa9e4bb755ce.js.gz
  app-58b435b1fa9e4bb755ce.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-57330d861d34325ac63c.js.gz
Due: eslint

cover special cases for lines
  wasm_parser/parser/parser.go
  wasm_parser/parser/parser_test.go
Due: none

Deploying to gh-pages from @ le0pard/vmail@b75fc9089fb1870939653b9a970342dd028860f3 🚀
  404.html.gz
  app-58b435b1fa9e4bb755ce.js
  app-58b435b1fa9e4bb755ce.js.gz
  app-58b435b1fa9e4bb755ce.js.map
  app-c1c9658193658030ed55.js
  app-c1c9658193658030ed55.js.gz
  app-c1c9658193658030ed55.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-57330d861d34325ac63c.js.gz
Due: eslint

support more caniemail data
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/parser.go
  wasm_parser/parser/parser_test.go
  yarn.lock
Due: rubocop, bundle-check

Deploying to gh-pages from @ le0pard/vmail@4d364d9aa8077d23699bb5eacf226b692cec28f0 🚀
  404.html.gz
  app-9f0622aa3f3ccac127a0.js
  app-9f0622aa3f3ccac127a0.js.gz
  app-9f0622aa3f3ccac127a0.js.map
  app-c1c9658193658030ed55.js
  app-c1c9658193658030ed55.js.gz
  app-c1c9658193658030ed55.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-57330d861d34325ac63c.js
  ww-57330d861d34325ac63c.js.gz
  ww-57330d861d34325ac63c.js.map
  ww-dd0e818779aa79ae56ca.js
  ww-dd0e818779aa79ae56ca.js.gz
  ww-dd0e818779aa79ae56ca.js.map
Due: eslint

formating
  wasm_parser/parser/parser_test.go
Due: none

update deps
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@308284312ebc6449a012d8b6f00644a2cccc73f2 🚀
  404.html.gz
  app-998b417dd7170a7cf736.js
  app-998b417dd7170a7cf736.js.gz
  app-998b417dd7170a7cf736.js.map
  app-9f0622aa3f3ccac127a0.js
  app-9f0622aa3f3ccac127a0.js.gz
  app-9f0622aa3f3ccac127a0.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-68b7e596f29f98189e5f.js
  ww-68b7e596f29f98189e5f.js.gz
  ww-68b7e596f29f98189e5f.js.map
  ww-dd0e818779aa79ae56ca.js
  ww-dd0e818779aa79ae56ca.js.gz
  ww-dd0e818779aa79ae56ca.js.map
Due: eslint

update packages
  Gemfile.lock
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@496d5df40a11b16a7a31d74ccd04b75e90a51df9 🚀
  404.html.gz
  app-6183fabf05d9dbe984ec.js
  app-6183fabf05d9dbe984ec.js.gz
  app-6183fabf05d9dbe984ec.js.map
  app-998b417dd7170a7cf736.js
  app-998b417dd7170a7cf736.js.gz
  app-998b417dd7170a7cf736.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-68b7e596f29f98189e5f.js
  ww-68b7e596f29f98189e5f.js.gz
  ww-68b7e596f29f98189e5f.js.map
  ww-d85c88bfd0843d327c1a.js
  ww-d85c88bfd0843d327c1a.js.gz
  ww-d85c88bfd0843d327c1a.js.map
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@0a1fad07b6b423eca36af63c2d66f68fcab5cc60 🚀
  404.html.gz
  app-1609e530197f1d71dfe9.js
  app-1609e530197f1d71dfe9.js.gz
  app-1609e530197f1d71dfe9.js.map
  app-6183fabf05d9dbe984ec.js
  app-6183fabf05d9dbe984ec.js.gz
  app-6183fabf05d9dbe984ec.js.map
  app-d43e574195d15b64791d.css.gz
  app-d43e574195d15b64791d.css.map
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  manifest.webmanifest
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-d85c88bfd0843d327c1a.js.gz
  ww-d85c88bfd0843d327c1a.js.map
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@00cc0c426fec2cb3b971e5cda172c15656aac4aa 🚀
  404.html.gz
  app-1609e530197f1d71dfe9.js
  app-1609e530197f1d71dfe9.js.gz
  app-1609e530197f1d71dfe9.js.map
  app-d43e574195d15b64791d.css.gz
  app-d8b7ac2cabd87325d59a.js
  app-d8b7ac2cabd87325d59a.js.gz
  app-d8b7ac2cabd87325d59a.js.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-d85c88bfd0843d327c1a.js.gz
Due: eslint

add cache + new packages
  .github/workflows/deploy.yml
  .gitignore
  webpack.config.js
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@a92a56b8b18b2da8ea8f29fcb6951301e80a27ef 🚀
  404.html.gz
  app-0d71407f145c7232c8d8.js
  app-0d71407f145c7232c8d8.js.gz
  app-0d71407f145c7232c8d8.js.map
  app-d43e574195d15b64791d.css.gz
  app-d8b7ac2cabd87325d59a.js
  app-d8b7ac2cabd87325d59a.js.gz
  app-d8b7ac2cabd87325d59a.js.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-d85c88bfd0843d327c1a.js.gz
Due: eslint

check build
  .gitignore
Due: none

Deploying to gh-pages from @ le0pard/vmail@0983a2122bfb45d5eec53e6b49b001ddb67bd964 🚀
  404.html.gz
  app-0d71407f145c7232c8d8.js.gz
  app-d43e574195d15b64791d.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-d85c88bfd0843d327c1a.js.gz
Due: none

update npms
  yarn.lock
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
