Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

typos
  wasm/parser/parser.go
  wasm/parser/parser_test.go
Due: none

do not show empty notes
  webpack/components/ClientList.svelte
  webpack/components/ReportItem.svelte
Due: none

focus visible
  webpack/css/app.sass
Due: none

update middleman
  Gemfile.lock
Due: bundle-check

faq cleanup
  source/static_pages/faq.html.erb
Due: none

move wasm to wasm_parser
  README.md
  lib/tasks/caniemail.rake
  lib/tasks/wasm.rake
  wasm/go.mod
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/main.go
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
  wasm_parser/parser/parser.go
  wasm_parser/parser/parser_test.go
Due: rubocop

move wasm to wasm_parser
  .github/workflows/deploy.yml
Due: none

change web worker
  lib/tasks/wasm.rake
  wasm_parser/main.go
  webpack/ww.js
Due: rubocop, eslint

improve function in rake
  lib/tasks/wasm.rake
Due: rubocop

start testing posibility about inliner
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_inliner/inliner/inliner.go
  wasm_inliner/inliner/inliner_test.go
  wasm_inliner/main.go
  wasm_parser/main.go
Due: none

work on inliner
  wasm_inliner/inliner/inliner_test.go
Due: none

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

add explanation
  README.md
  lib/defaults_site_helpers.rb
  source/static_pages/faq.html.erb
  webpack/components/ReportEmpty.svelte
Due: rubocop

collect stylesheets content in correct order
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_inliner/inliner/inliner.go
Due: none

draft inliner
  wasm_inliner/inliner/inliner.go
  wasm_inliner/inliner/inliner_test.go
Due: none

small cleanup
  wasm_inliner/inliner/inliner.go
Due: none

ignore reset styles in email
  wasm_inliner/inliner/inliner.go
  wasm_inliner/inliner/inliner_test.go
Due: none

ignore reset styles in email, add more
  wasm_inliner/inliner/inliner.go
Due: none

show text in demo
  wasm_inliner/inliner/inliner_test.go
Due: none

finish inline css functionality
  wasm_inliner/inliner/inliner.go
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/ReportEmpty.svelte
  webpack/lib/constants.js
  webpack/stores/report.js
  webpack/sw.js
  webpack/ww.js
Due: eslint

finish inline css functionality
  package.json
  webpack/stores/inliner.js
  yarn.lock
Due: eslint

build wasm module on GA
  .github/workflows/deploy.yml
Due: none

add tests on inliner
  wasm_inliner/inliner/inliner.go
  wasm_inliner/inliner/inliner_test.go
Due: none

add info in FAQ qbout inline functionality
  source/static_pages/faq.html.erb
Due: none

go mod update
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

sort css attrs to make output deterministic
  wasm_inliner/inliner/inliner.go
Due: none

sort css attrs to make output deterministic
  source/static_pages/faq.html.erb
Due: none

update readme
  README.md
Due: none

support inline styles too
  source/static_pages/faq.html.erb
Due: none

need preserve sorting based on css, not resort attributes from own side
  wasm_inliner/inliner/inliner.go
Due: none

need preserve sorting based on css
  wasm_inliner/inliner/inliner.go
Due: none

improve cache strategy for wasm modules
  webpack/sw.js
Due: eslint

add new css props
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop

change strategy for wasm NetworkFirst
  webpack/sw.js
Due: eslint

add amp, doctype and css important support
  .rubocop.yml
  lib/tasks/caniemail.rake
  wasm_parser/main.go
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/parser.go
  webpack/components/EditorView.svelte
  webpack/components/ReportList.svelte
  webpack/lib/constants.js
  webpack/stores/report.js
Due: rubocop, eslint

Deploying to gh-pages from @ le0pard/vmail@173a5532cfa736b4b4953fbca23eda4ee7fe61bd 🚀
  404.html.gz
  app-5409c9f7ce44af91fe4c.js
  app-5409c9f7ce44af91fe4c.js.gz
  app-5409c9f7ce44af91fe4c.js.map
  app-bf3dd9a3cec8b6edcfe0.js
  app-bf3dd9a3cec8b6edcfe0.js.gz
  app-bf3dd9a3cec8b6edcfe0.js.map
  app-f32c57cae7c160aa5974.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-7807e60e5ae64cb1c821.js.gz
  ww-7807e60e5ae64cb1c821.js.map
Due: eslint

change order for report items
  webpack/components/ReportList.svelte
Due: none

Deploying to gh-pages from @ le0pard/vmail@fadb08dab3db38dddbfd0987111d83f162de071e 🚀
  404.html.gz
  app-bf3dd9a3cec8b6edcfe0.js
  app-bf3dd9a3cec8b6edcfe0.js.gz
  app-bf3dd9a3cec8b6edcfe0.js.map
  app-c2fd3c9a4bb51e48a2a0.js
  app-c2fd3c9a4bb51e48a2a0.js.gz
  app-c2fd3c9a4bb51e48a2a0.js.map
  app-f32c57cae7c160aa5974.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-7807e60e5ae64cb1c821.js.gz
Due: eslint

fix srcset
  lib/tasks/caniemail.rake
  wasm_parser/parser/caniuse.json
Due: rubocop

Deploying to gh-pages from @ le0pard/vmail@70b49fd04b20b2c75577ce10fdf08e0d107cefd5 🚀
  404.html.gz
  app-c2fd3c9a4bb51e48a2a0.js.gz
  app-f32c57cae7c160aa5974.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-7807e60e5ae64cb1c821.js.gz
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
