Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

update libs
  .github/workflows/deploy.yml
  .tool-versions
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop, bundle-check

update libs
  yarn.lock
Due: none

update libs
  package.json
  yarn.lock
Due: none

update libs
  .github/workflows/deploy.yml
Due: none

new node
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

new node
  wasm_parser/parser/caniuse.json
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

update prettier
  .prettierignore
  .prettierrc
  .yarnrc.yml
  package.json
  src/components/App.svelte
  src/components/ClientList.svelte
  src/components/EditorView.svelte
  src/components/EditorViewHeader.svelte
  src/components/Error.svelte
  src/components/Icon.svelte
  src/components/NotesList.svelte
  src/components/ReportEmpty.svelte
  src/components/ReportError.svelte
  src/components/ReportItem.svelte
  src/components/ReportList.svelte
  src/components/ReportLoading.svelte
  src/components/ReportView.svelte
  src/components/ReportViewHeader.svelte
  src/components/ServiceWorker.svelte
  src/components/SplitView.svelte
  src/components/ThemeSwitcher.svelte
  src/lib/sampleHelpers.js
  src/styles/app.css
  src/styles/components/base.css
  src/styles/components/codemirror.css
  src/styles/components/faq.css
  src/styles/components/svg_icons.css
  src/utils/content.js
  src/utils/worker.js
  yarn.lock
Due: eslint

update svgo
  package.json
  yarn.lock
Due: none

update golang
  .github/workflows/deploy.yml
Due: none

back to pnp
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

update packages
  astro.config.mjs
  package.json
  yarn.lock
Due: none

update packages
  package.json
  yarn.lock
Due: none

update libs
  Gemfile.lock
Due: bundle-check

update
  package.json
  yarn.lock
Due: none

new astro
  package.json
  yarn.lock
Due: none

new rubocop
  Gemfile.lock
Due: bundle-check

update libs
  .github/workflows/deploy.yml
  Gemfile.lock
  astro.config.mjs
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop, bundle-check

update go libs
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
Due: none

update go libs
  src/vendors/wasm_exec.js
Due: eslint

update go libs
  yarn.lock
Due: none

new node.js + yarn
  .tool-versions
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

new libs
  package.json
  yarn.lock
Due: none

new libs
  .yarn/releases/yarn-4.0.0.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

new libs
  src/stores/split.js
Due: eslint

Update libs
  package.json
  yarn.lock
Due: none

Update libs
  yarn.lock
Due: none

update rules
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
  yarn.lock
Due: rubocop, bundle-check

new icons
  astro.config.mjs
  package.json
  src/components/SvgIcon.astro
  src/env.d.ts
  src/layouts/app.astro
  yarn.lock
Due: none

new npms
  .github/workflows/deploy.yml
  .gitignore
  .tool-versions
  .yarnrc.yml
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

new npms
  .github/workflows/deploy.yml
Due: none

update codeql actions
  .github/workflows/codeql-analysis.yml
Due: none

fix icons
  package.json
  src/components/ServiceWorker.svelte
  yarn.lock
Due: none

update deps
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
