Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

fix typo
  lib/tasks/caniemail.rake
  wasm_parser/parser/caniuse.json
Due: rubocop

Deploying to gh-pages from @ le0pard/vmail@d875c2fa0db46bbe93b628ca6cd073f305d06d5e 🚀
  404.html.gz
  app-c2fd3c9a4bb51e48a2a0.js.gz
  app-f32c57cae7c160aa5974.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-7807e60e5ae64cb1c821.js.gz
Due: none

fix mobile
  webpack/components/ReportItem.svelte
Due: none

Deploying to gh-pages from @ le0pard/vmail@7bdfa70fad1fc6c5d167b04a7bbad3565ee26eaa 🚀
  404.html.gz
  app-0b0a4698cc031cb0f33e.css
  app-0b0a4698cc031cb0f33e.css.gz
  app-0b0a4698cc031cb0f33e.css.map
  app-c2fd3c9a4bb51e48a2a0.js
  app-c2fd3c9a4bb51e48a2a0.js.gz
  app-c2fd3c9a4bb51e48a2a0.js.map
  app-dd07016eda99383d403c.js
  app-dd07016eda99383d403c.js.gz
  app-dd07016eda99383d403c.js.map
  app-f32c57cae7c160aa5974.css
  app-f32c57cae7c160aa5974.css.gz
  app-f32c57cae7c160aa5974.css.map
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-7807e60e5ae64cb1c821.js.gz
Due: eslint

fix for block
  webpack/components/ReportItem.svelte
Due: none

Deploying to gh-pages from @ le0pard/vmail@6803d670218f8dbc3f7cb44bc3b2df5316f056e6 🚀
  404.html.gz
  app-0b0a4698cc031cb0f33e.css.gz
  app-385e557c3746ba37fc8b.js
  app-385e557c3746ba37fc8b.js.gz
  app-385e557c3746ba37fc8b.js.map
  app-dd07016eda99383d403c.js
  app-dd07016eda99383d403c.js.gz
  app-dd07016eda99383d403c.js.map
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-7807e60e5ae64cb1c821.js.gz
Due: eslint

support mailto and local anchor links
  lib/tasks/caniemail.rake
  wasm_parser/main.go
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/parser.go
  wasm_parser/parser/parser_test.go
  webpack/components/ClientList.svelte
  webpack/components/ReportItem.svelte
  webpack/lib/constants.js
  webpack/lib/reportHelpers.js
Due: rubocop, eslint

Deploying to gh-pages from @ le0pard/vmail@3b54f09649200d80095fadf31e0a1399cac4bfac 🚀
  404.html.gz
  app-0b0a4698cc031cb0f33e.css
  app-0b0a4698cc031cb0f33e.css.gz
  app-0b0a4698cc031cb0f33e.css.map
  app-30a47a336542197d8982.js
  app-30a47a336542197d8982.js.gz
  app-30a47a336542197d8982.js.map
  app-385e557c3746ba37fc8b.js
  app-385e557c3746ba37fc8b.js.gz
  app-385e557c3746ba37fc8b.js.map
  app-d43e574195d15b64791d.css
  app-d43e574195d15b64791d.css.gz
  app-d43e574195d15b64791d.css.map
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-7807e60e5ae64cb1c821.js
  ww-7807e60e5ae64cb1c821.js.gz
  ww-7807e60e5ae64cb1c821.js.map
  ww-889989c28a52b7418515.js
  ww-889989c28a52b7418515.js.gz
  ww-889989c28a52b7418515.js.map
Due: eslint

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@737af36ece4184ab3b946afe5c042d434bc6ce28 🚀
  404.html.gz
  app-30a47a336542197d8982.js
  app-30a47a336542197d8982.js.gz
  app-30a47a336542197d8982.js.map
  app-a21e3c5d68ac890563c4.js
  app-a21e3c5d68ac890563c4.js.gz
  app-a21e3c5d68ac890563c4.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: eslint

improve convertor
  wasm_parser/main.go
Due: none

Deploying to gh-pages from @ le0pard/vmail@31eecefe60ed668b4d9b9537c99e4fa0c3cfbf51 🚀
  404.html.gz
  app-a21e3c5d68ac890563c4.js.gz
  app-d43e574195d15b64791d.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: none

DRY
  wasm_parser/main.go
Due: none

Deploying to gh-pages from @ le0pard/vmail@73c79865ba3eadec80b680a6f9dfa677e885b40a 🚀
  404.html.gz
  app-a21e3c5d68ac890563c4.js.gz
  app-d43e574195d15b64791d.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: none

update caniuse styles
  lib/tasks/caniemail.rake
  wasm_parser/parser/caniuse.json
Due: rubocop

Deploying to gh-pages from @ le0pard/vmail@77e296b7c70849446b27d7200bafcf1bcba27fd0 🚀
  404.html.gz
  app-a21e3c5d68ac890563c4.js.gz
  app-d43e574195d15b64791d.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: none

cleanup
  wasm_parser/main.go
Due: none

packages update
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@a576fd87d7c5fbfd34919edff3c4f60e4d43a20e 🚀
  404.html.gz
  app-4fc7e529261209e16349.js
  app-4fc7e529261209e16349.js.gz
  app-4fc7e529261209e16349.js.map
  app-a21e3c5d68ac890563c4.js
  app-a21e3c5d68ac890563c4.js.gz
  app-a21e3c5d68ac890563c4.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@db61875d87621439b52ee54895661ec3597fbe46 🚀
  404.html.gz
  app-4fc7e529261209e16349.js
  app-4fc7e529261209e16349.js.gz
  app-4fc7e529261209e16349.js.map
  app-a1ea579f4ff9263079e4.js
  app-a1ea579f4ff9263079e4.js.gz
  app-a1ea579f4ff9263079e4.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-889989c28a52b7418515.js.gz
Due: eslint

remove usage for reflect in wasm
  wasm_inliner/main.go
  wasm_parser/main.go
Due: none

more settings in wasm
  webpack/sw.js
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@77a3cd1ad950c7f14c6abe8e78eaf815f330f900 🚀
  404.html.gz
  app-a1ea579f4ff9263079e4.js.gz
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-889989c28a52b7418515.js.gz
Due: eslint

fix stringify stability for hashing
  webpack/sw.js
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@1a7ad3ff2b2ee05502f4d0eaa42b1ff8428cb368 🚀
  404.html.gz
  app-a1ea579f4ff9263079e4.js.gz
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-889989c28a52b7418515.js.gz
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@6a0f9dada3e14285163a638849096ec22aa1a8c9 🚀
  404.html.gz
  app-a1ea579f4ff9263079e4.js.gz
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-889989c28a52b7418515.js.gz
Due: eslint

packages
  package.json
  yarn.lock
Due: none

Deploying to gh-pages from @ le0pard/vmail@addfedae16a7afefacf83dcc5d9e684931b86071 🚀
  404.html.gz
  app-9d010a411f4f69d4b949.js
  app-9d010a411f4f69d4b949.js.gz
  app-9d010a411f4f69d4b949.js.map
  app-a1ea579f4ff9263079e4.js
  app-a1ea579f4ff9263079e4.js.gz
  app-a1ea579f4ff9263079e4.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: eslint

improve buttons for mobile
  source/static_pages/faq.html.erb
  webpack/components/EditorViewHeader.svelte
Due: none

Deploying to gh-pages from @ le0pard/vmail@2c9faa3c4455c293ba12db1859d7aa874869e872 🚀
  404.html.gz
  app-35aad8d987f6a4f2efd0.js
  app-35aad8d987f6a4f2efd0.js.gz
  app-35aad8d987f6a4f2efd0.js.map
  app-9d010a411f4f69d4b949.js
  app-9d010a411f4f69d4b949.js.gz
  app-9d010a411f4f69d4b949.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: eslint

improve buttons for mobile
  webpack/components/EditorViewHeader.svelte
Due: none

Deploying to gh-pages from @ le0pard/vmail@f23293e69c3da0ae1eee41be26e02db1a7978a57 🚀
  404.html.gz
  app-35aad8d987f6a4f2efd0.js
  app-35aad8d987f6a4f2efd0.js.gz
  app-35aad8d987f6a4f2efd0.js.map
  app-47689e7b8be56b4fd7d7.js
  app-47689e7b8be56b4fd7d7.js.gz
  app-47689e7b8be56b4fd7d7.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: eslint

add .prettierignore
  .prettierignore
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@178cb03b88773adf0822a1b04d43e721e20ccf48 🚀
  404.html.gz
  app-47689e7b8be56b4fd7d7.js
  app-47689e7b8be56b4fd7d7.js.gz
  app-47689e7b8be56b4fd7d7.js.map
  app-834ca2bc7ac0bb3afe2a.js
  app-834ca2bc7ac0bb3afe2a.js.gz
  app-834ca2bc7ac0bb3afe2a.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-889989c28a52b7418515.js.gz
Due: eslint

sort sw urls
  webpack/sw.js
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@2f9bd68e8bbb74d121f345c6b51431b7914f62ec 🚀
  404.html.gz
  app-47689e7b8be56b4fd7d7.js
  app-47689e7b8be56b4fd7d7.js.gz
  app-47689e7b8be56b4fd7d7.js.map
  app-834ca2bc7ac0bb3afe2a.js
  app-834ca2bc7ac0bb3afe2a.js.gz
  app-834ca2bc7ac0bb3afe2a.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-889989c28a52b7418515.js.gz
Due: eslint

package update
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@6b2e2d3e8d16a74e50435d6cdd90b99fab856c7d 🚀
  404.html.gz
  app-47689e7b8be56b4fd7d7.js
  app-47689e7b8be56b4fd7d7.js.gz
  app-47689e7b8be56b4fd7d7.js.map
  app-79a649fe6fe21004f886.js
  app-79a649fe6fe21004f886.js.gz
  app-79a649fe6fe21004f886.js.map
  app-d43e574195d15b64791d.css.gz
  assets-manifest.json
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-889989c28a52b7418515.js
  ww-889989c28a52b7418515.js.gz
  ww-889989c28a52b7418515.js.map
  ww-a72428b6521fc940a5cf.js
  ww-a72428b6521fc940a5cf.js.gz
  ww-a72428b6521fc940a5cf.js.map
Due: eslint

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
