Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

update deps
  .github/workflows/deploy.yml
  wasm_inliner/go.mod
  wasm_inliner/inliner/go.mod
  wasm_parser/go.mod
  wasm_parser/parser/go.mod
Due: none

new ruby
  .tool-versions
  Gemfile
  Gemfile.lock
Due: bundle-check

update rules and libs
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop, bundle-check

fix cache deps
  .github/workflows/deploy.yml
Due: none

new ruby
  .tool-versions
Due: none

new ruby
  .tool-versions
  Gemfile.lock
  wasm_parser/parser/caniuse.json
Due: bundle-check

update libs
  Gemfile.lock
Due: bundle-check

update
  package.json
  yarn.lock
Due: none

update to svelte 5
  .eslintrc
  .github/workflows/deploy.yml
  .tool-versions
  Gemfile.lock
  package.json
  src/components/App.svelte
  src/components/ClientList.svelte
  src/components/DomInit.svelte
  src/components/EditorView.svelte
  src/components/EditorViewHeader.svelte
  src/components/Error.svelte
  src/components/Hotwire.svelte
  src/components/Icon.svelte
  src/components/NotesList.svelte
  src/components/Parser.svelte
  src/components/ReportEmpty.svelte
  src/components/ReportError.svelte
  src/components/ReportItem.svelte
  src/components/ReportList.svelte
  src/components/ReportLoading.svelte
  src/components/ReportView.svelte
  src/components/ReportViewHeader.svelte
  src/components/ServiceWorker.svelte
  src/components/SplitView.svelte
  src/components/ThemeSwitcher.svelte
  yarn.lock
Due: bundle-check

update db
  lib/tasks/caniemail.rake
  wasm_parser/parser/caniuse.json
Due: rubocop

fixes
  .eslintrc
  lib/tasks/caniemail.rake
  src/components/ReportItem.svelte
Due: rubocop

optimize build
  yarn.lock
Due: none

new node.js 22 lts
  .tool-versions
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

new node.js 22 lts
  .yarn/releases/yarn-4.5.1.cjs
Due: none

update
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: none

new gems
  Gemfile.lock
Due: bundle-check

golang deps
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

update svelte slots
  package.json
  src/components/App.svelte
  src/components/Parser.svelte
  src/components/ReportViewHeader.svelte
  yarn.lock
Due: none

update golang deps
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

fix naming
  src/components/App.svelte
  src/components/Parser.svelte
Due: none

update libs + ruby
  .github/workflows/deploy.yml
  .tool-versions
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
  yarn.lock
Due: rubocop, bundle-check

update libs + ruby
  yarn.lock
Due: none

update libs
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update libs
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

update libs
  package.json
  yarn.lock
Due: none

update
  Gemfile.lock
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: bundle-check

update
  yarn.lock
Due: none

update
  .github/workflows/deploy.yml
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

update
  src/vendors/wasm_exec.js
Due: eslint

fix lock file
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

update libs
  .github/workflows/deploy.yml
  .tool-versions
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
  yarn.lock
Due: rubocop, bundle-check

fix for css parser
  wasm_parser/parser/parser.go
Due: none

fix rubocop
  .rubocop.yml
Due: none

fix inliner
  wasm_inliner/inliner/inliner.go
Due: none

update libs
  .tool-versions
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  Gemfile.lock
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: bundle-check

update ci
  .github/workflows/deploy.yml
Due: none

use clamp for typography
  src/styles/components/base.css
Due: none
