Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

update codemirror
  package.json
  yarn.lock
Due: none

new nodejs
  .github/workflows/deploy.yml
  .tool-versions
  package.json
Due: none

update nodejs install
  .github/workflows/deploy.yml
Due: none

update button highlight
  assets/components/ClientList.svelte
  assets/components/NotesList.svelte
Due: none

update hover colors
  assets/components/ClientList.svelte
  assets/components/EditorViewHeader.svelte
  assets/components/NotesList.svelte
  assets/components/ReportItem.svelte
  assets/components/ReportViewHeader.svelte
  assets/css/components/base.css
Due: none

update ci
  .github/workflows/deploy.yml
Due: none

yarn
  .tool-versions
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
Due: none

yarn
  yarn.lock
Due: none

update
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

new caniuse
  lib/tasks/caniemail.rake
  package.json
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop

new caniuse
  lib/tasks/caniemail.rake
Due: rubocop

tidy
  wasm_inliner/go.sum
  wasm_parser/go.sum
Due: none

update
  Gemfile.lock
  assets/components/Icon.svelte
  package.json
  source/static_pages/faq.html.erb
  yarn.lock
Due: bundle-check

new golang
  .github/workflows/deploy.yml
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

update deps
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
Due: none

update deps
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.sum
  wasm_parser/go.sum
  wasm_parser/parser/go.sum
Due: none

new libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update
  .github/workflows/deploy.yml
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
Due: none

update
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

update rules
  lib/tasks/caniemail.rake
  wasm_parser/parser/caniuse.json
Due: rubocop

update libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

new golang
  .github/workflows/deploy.yml
Due: none

update lib
  Gemfile.lock
  assets/components/NotesList.svelte
  assets/components/SplitView.svelte
  package.json
  yarn.lock
Due: bundle-check

update libs
  assets/components/SplitView.svelte
Due: none

change spacing
  .eslintrc
  assets/app.js
  assets/components/App.svelte
  assets/components/EditorView.svelte
  assets/components/EditorViewHeader.svelte
  assets/components/ReportItem.svelte
  assets/components/ReportList.svelte
  assets/components/ReportView.svelte
  assets/components/SplitView.svelte
  assets/components/ThemeSwitcher.svelte
  assets/controllers/parser_controller.js
  assets/controllers/service_worker_controller.js
  assets/hotwire.js
  assets/lib/codemirrorDarkTheme.js
  assets/lib/codemirrorValidationErrors.js
  assets/lib/reportHelpers.js
  assets/lib/sampleHelpers.js
  assets/stores/inliner.js
  assets/stores/notes.js
  assets/stores/report.js
  assets/stores/split.js
  assets/stores/theme.js
  assets/sw.js
  assets/utils/theme.js
  assets/ww.js
  webpack.config.js
Due: eslint

change spacing
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update ruby
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update packages
  config.rb
  lib/auto_blank_links_extension.rb
Due: rubocop

update golang
  .github/workflows/deploy.yml
Due: none

fix icon colors
  assets/css/components/faq.css
Due: none
