Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

add card
  source/layouts/layout.html.erb
Due: none

update card img url
  source/layouts/layout.html.erb
Due: none

update card description
  source/layouts/layout.html.erb
Due: none

add codeql-analysis
  .github/workflows/codeql-analysis.yml
Due: none

scroll to center
  webpack/components/ReportList.svelte
Due: none

cleanup
  lib/assets_helpers.rb
  source/layouts/layout.html.erb
  webpack/app.js
  webpack/controllers/service_worker_controller.js
  webpack/lib/sampleHelpers.js
  webpack/sw.js
  webpack/ww.js
Due: rubocop, eslint

cleanup
  webpack/components/SplitView.svelte
Due: none

reformat svelte components
  package.json
  webpack/components/App.svelte
  webpack/components/ClientList.svelte
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/Error.svelte
  webpack/components/Icon.svelte
  webpack/components/NotesList.svelte
  webpack/components/ReportEmpty.svelte
  webpack/components/ReportError.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportList.svelte
  webpack/components/ReportLoading.svelte
  webpack/components/ReportView.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/components/SplitView.svelte
  webpack/components/ThemeSwitcher.svelte
Due: none

Svelte components do not like eslint-plugin-prettier
  .prettierrc
  package.json
  webpack/components/App.svelte
  webpack/components/ClientList.svelte
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/Error.svelte
  webpack/components/Icon.svelte
  webpack/components/NotesList.svelte
  webpack/components/ReportEmpty.svelte
  webpack/components/ReportError.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportList.svelte
  webpack/components/ReportLoading.svelte
  webpack/components/ReportView.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/components/SplitView.svelte
  webpack/components/ThemeSwitcher.svelte
  webpack/lib/codemirrorDarkTheme.js
  webpack/lib/codemirrorValidationErrors.js
  webpack/lib/reportHelpers.js
  webpack/stores/report.js
  webpack/stores/split.js
  webpack/stores/theme.js
  webpack/sw.js
  webpack/vendors/wasm_exec.js
  webpack/ww.js
  yarn.lock
Due: eslint

Return original wasm_loader
  webpack/vendors/wasm_exec.js
Due: eslint

immutable components
  webpack/components/App.svelte
  webpack/components/ClientList.svelte
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/Error.svelte
  webpack/components/Icon.svelte
  webpack/components/NotesList.svelte
  webpack/components/ReportEmpty.svelte
  webpack/components/ReportError.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportList.svelte
  webpack/components/ReportLoading.svelte
  webpack/components/ReportView.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/components/SplitView.svelte
  webpack/components/ThemeSwitcher.svelte
Due: none

more info how to format svelte components
  README.md
  webpack/components/App.svelte
  webpack/components/ClientList.svelte
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/Error.svelte
  webpack/components/Icon.svelte
  webpack/components/NotesList.svelte
  webpack/components/ReportEmpty.svelte
  webpack/components/ReportError.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportList.svelte
  webpack/components/ReportLoading.svelte
  webpack/components/ReportView.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/components/SplitView.svelte
  webpack/components/ThemeSwitcher.svelte
Due: none

faq info
  source/static_pages/faq.html.erb
Due: none

faq fix links
  source/static_pages/faq.html.erb
Due: none

new golang
  .github/workflows/deploy.yml
Due: none

update titles
  .github/workflows/deploy.yml
Due: none

more info
  README.md
Due: none

cleanup
  .gitignore
Due: none

faq cleanup
  source/static_pages/faq.html.erb
Due: none

back start for scroll - better work on mobile
  webpack/components/ReportList.svelte
Due: none

cleanup
  webpack.config.js
Due: eslint

cleanup
  webpack/sw.js
Due: eslint

leave web worker work on page all time
  webpack/components/App.svelte
  webpack/controllers/parser_controller.js
Due: eslint

typo
  webpack/controllers/parser_controller.js
Due: eslint

add padding for value
  webpack/components/ReportItem.svelte
Due: none

improve view for very small screens
  webpack/components/ClientList.svelte
  webpack/components/ReportItem.svelte
Due: none

improve view for very small screens, fix prettier
  webpack/components/ClientList.svelte
  webpack/components/ReportItem.svelte
Due: none

warn about skipped rules for future updates
  .rubocop.yml
  lib/tasks/caniemail.rake
  lib/tasks/svg_sprite.rake
  lib/tasks/wasm.rake
  wasm/parser/caniuse.json
Due: rubocop

support html-semantics
  lib/tasks/caniemail.rake
  wasm/parser/caniuse.json
Due: rubocop

sort clients
  webpack/lib/reportHelpers.js
Due: eslint

Use Intl.Collator for sorting
  webpack/components/EditorView.svelte
  webpack/controllers/parser_controller.js
  webpack/lib/reportHelpers.js
Due: eslint

Typos
  source/static_pages/faq.html.erb
Due: none

Track links in FAQ
  source/static_pages/faq.html.erb
Due: none

update packages
  package.json
  yarn.lock
Due: none

sort report results
  webpack/lib/reportHelpers.js
Due: eslint

format
  webpack/components/EditorView.svelte
  webpack/lib/reportHelpers.js
Due: eslint

improve percent calculation for clients
  webpack/lib/reportHelpers.js
Due: eslint

sort attributes in tooltips
  webpack/stores/report.js
Due: eslint

show clients count in title
  webpack/components/ClientList.svelte
  webpack/components/ReportItem.svelte
Due: none

fix dimensions processing
  wasm/parser/parser.go
  wasm/parser/parser_test.go
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
