Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

new ruby
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

new rules
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop, bundle-check

new rules
  lib/tasks/caniemail.rake
Due: rubocop

fix build
  package.json
  yarn.lock
Due: none

update rules
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
  wasm_parser/parser/parser.go
  wasm_parser/parser/parser_test.go
Due: none

update rules
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
Due: none

update rules
  lib/tasks/caniemail.rake
  wasm_parser/parser/caniuse.json
Due: rubocop

change deploy
  .github/workflows/deploy.yml
Due: none

improve search
  wasm_parser/parser/parser.go
Due: none

improve search
  wasm_parser/go.mod
Due: none

update libs
  Gemfile.lock
Due: bundle-check

update CI steps
  .github/workflows/deploy.yml
Due: none

update ruby + libs + caniuse data
  .rubocop.yml
  .tool-versions
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop, bundle-check

new golang
  .github/workflows/deploy.yml
Due: none

new libs
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

fix ruby gemfile lock
  Gemfile.lock
Due: bundle-check

fix linter
  .eslintrc
  astro.config.mjs
  src/components/DomInit.svelte
  src/components/Parser.svelte
  src/components/ServiceWorker.svelte
  src/pages/faq.astro
Due: none

exclude compress samle html
  astro.config.mjs
Due: none

exclude compress samle html
  src/sw.js
Due: eslint

exclude compress samle html
  src/components/EditorView.svelte
Due: none

fix render
  src/components/App.svelte
  src/components/EditorView.svelte
  src/components/EditorViewHeader.svelte
  src/components/Parser.svelte
  src/components/ReportList.svelte
  src/components/SplitView.svelte
  src/pages/index.astro
  src/styles/components/base.css
  src/utils/dom.js
Due: eslint

fix render
  src/utils/dom.js
Due: eslint

readme
  README.md
Due: none

improve worker load
  src/components/Parser.svelte
  src/utils/worker.js
Due: eslint

improve worker load
  astro.config.mjs
  src/sw.js
Due: eslint

fix url
  src/components/EditorViewHeader.svelte
  src/pages/faq.astro
  src/sw.js
Due: eslint

disable cache
  src/components/Head.astro
Due: none

new libs
  package.json
  yarn.lock
Due: none

fix canonical
  src/components/Head.astro
  src/utils/links.js
Due: eslint

update libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update libs
  .github/workflows/deploy.yml
Due: none

update config
  .prettierrc
  README.md
  src/components/DomInit.svelte
  src/components/EditorView.svelte
  src/components/Hotwire.svelte
  src/components/Parser.svelte
  src/components/ServiceWorker.svelte
  src/components/SplitView.svelte
Due: none

new libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

new yarn
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
