Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

fix build
  config.rb
  source/index.html.erb
  source/layouts/layout.html.erb
  source/robots.txt.erb
  webpack/css/app.sass
  webpack/vendors/wasm_exec.js
Due: rubocop, eslint

parser
  source/layouts/layout.html.erb
  wasm/main.go
  wasm/parser/go.mod
  wasm/parser/go.sum
  wasm/parser/parser.go
  wasm/parser/parser_test.go
  wasm/parser/rules.json
Due: none

parser
  wasm/go.mod
  wasm/go.sum
  wasm/parser/parser.go
Due: none

parser
  wasm/parser/main.go
Due: none

add tests
  lib/tasks/caniemail.rake
  wasm/go.mod
  wasm/go.sum
  wasm/parser/fixtures/1.html
  wasm/parser/fixtures/2.html
  wasm/parser/fixtures/3.html
  wasm/parser/main.go
  wasm/parser/parser.go
  wasm/parser/parser_test.go
Due: rubocop

improve load for wasm
  lib/tasks/caniemail.rake
  lib/tasks/wasm.rake
  source/index.html.erb
  source/partials/_article.html.erb
  source/partials/_article_box.html.erb
  source/partials/_article_comments.html.erb
  source/partials/_audio_info.html.erb
  source/partials/_blog_article.html.erb
  source/partials/_footer_audio_player.html.erb
  source/partials/_footer_links.html.erb
  source/partials/_header_bar.html.erb
  source/partials/_pagination.html.erb
  source/partials/_search_block.html.erb
  source/partials/_sidebar.html.erb
  source/partials/_subscribe_box.html.erb
  webpack/controllers/parser_controller.js
  webpack/init.js
  webpack/sw.js
  webpack/vendors/wasm_exec.js
Due: rubocop, eslint

improve rake
  lib/tasks/caniemail.rake
  lib/tasks/wasm.rake
Due: rubocop

improve rake
  lib/tasks/caniemail.rake
Due: rubocop

improve eslint
  .eslintrc
  webpack/controllers/parser_controller.js
Due: eslint

add rubocop
  .rubocop.yml
Due: none

improve loader
  webpack/controllers/parser_controller.js
Due: eslint

parse tags
  Gemfile
  Gemfile.lock
  lib/tasks/caniemail.rake
  source/manifest.json
  wasm/main.go
  wasm/parser/caniuse.json
  wasm/parser/parser.go
  wasm/parser/rules.json
  webpack/controllers/parser_controller.js
  webpack/sw.js
Due: rubocop, eslint, bundle-check

parse tags
  webpack/controllers/parser_controller.js
Due: eslint

parse tags, measure performance on JS side
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

return json from golang
  wasm/go.mod
  wasm/go.sum
  wasm/main.go
  wasm/parser/go.mod
  wasm/parser/go.sum
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

support inline scripts
  wasm/main.go
  wasm/parser/caniuse.json
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

support inline scripts
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

add new css parser
  wasm/go.mod
  wasm/go.sum
  wasm/parser/css/README.md
  wasm/parser/css/hash.go
  wasm/parser/css/lex.go
  wasm/parser/css/lex_test.go
  wasm/parser/css/parse.go
  wasm/parser/css/parse_test.go
  wasm/parser/css/util.go
  wasm/parser/css/util_test.go
  wasm/parser/go.mod
  wasm/parser/go.sum
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

add new css parser
  wasm/parser/parser.go
Due: none

add new css parser, line var
  wasm/parser/parser.go
Due: none

parse more
  wasm/go.mod
  wasm/go.sum
  wasm/main.go
  wasm/parser/caniuse.json
  wasm/parser/css/README.md
  wasm/parser/css/hash.go
  wasm/parser/css/lex.go
  wasm/parser/css/lex_test.go
  wasm/parser/css/parse.go
  wasm/parser/css/parse_test.go
  wasm/parser/css/util.go
  wasm/parser/css/util_test.go
  wasm/parser/go.mod
  wasm/parser/go.sum
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

parse more
  wasm/main.go
  wasm/parser/caniuse.json
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

parse more
  wasm/parser/parser.go
Due: none

parse more
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: eslint

add generator
  Gemfile
  Gemfile.lock
  lib/tasks/caniemail.rake
  source/CNAME
  source/manifest.json
  wasm/main.go
  wasm/parser/caniuse.json
  wasm/parser/parser.go
  webpack/controllers/parser_controller.js
Due: rubocop, eslint, bundle-check

fix rule for rubocop
  .rubocop.yml
  Gemfile
  lib/tasks/caniemail.rake
Due: rubocop, bundle-check

add svelte
  package.json
  source/index.html.erb
  webpack.config.js
  webpack/components/App.svelte
  webpack/controllers/parser_controller.js
  yarn.lock
Due: eslint

add initial tests
  lib/tasks/caniemail.rake
  wasm/parser/caniuse.json
  wasm/parser/parser_test.go
Due: rubocop

add initial tests
  wasm/parser/parser_test.go
Due: none

add more tests
  wasm/parser/parser.go
  wasm/parser/parser_test.go
Due: none

add more components
  package.json
  source/index.html.erb
  source/layouts/layout.html.erb
  source/static_pages/about.html.erb
  webpack/components/Error.svelte
  webpack/controllers/navigation_controller.js
  webpack/controllers/parser_controller.js
  webpack/css/app.sass
  webpack/css/base/grid.sass
  webpack/css/base/helpers.sass
  webpack/css/base/normalize.sass
  webpack/css/base/spaces.sass
  webpack/css/components/layout.sass
  webpack/css/components/typography.sass
  webpack/css/objects/article.sass
  webpack/css/objects/audio.sass
  webpack/css/objects/author.sass
  webpack/css/objects/box.sass
  webpack/css/objects/button.sass
  webpack/css/objects/navigation.sass
  webpack/css/objects/search.sass
  webpack/css/objects/subscribe.sass
  webpack/css/objects/tags.sass
  webpack/css/svg_icons.sass
  webpack/css/sw_notification.sass
  yarn.lock
Due: eslint

add more components
  package.json
  webpack/controllers/parser_controller.js
  yarn.lock
Due: eslint

codemirror initial setup
  package.json
  postcss.config.js
  webpack.config.js
  webpack/components/App.svelte
  webpack/css/app.sass
  yarn.lock
Due: eslint

codemirror value to generate
  lib/tasks/caniemail.rake
  package.json
  source/static_pages/about.html.erb
  wasm/parser/caniuse.json
  webpack/components/App.svelte
  webpack/controllers/parser_controller.js
  yarn.lock
Due: rubocop, eslint

add props normalization
  lib/tasks/caniemail.rake
  wasm/parser/caniuse.json
  wasm/parser/parser.go
  wasm/parser/parser_test.go
Due: rubocop

improve img parse
  wasm/parser/parser.go
  wasm/parser/parser_test.go
  webpack/components/App.svelte
  webpack/sw.js
Due: eslint

add lines
  webpack/components/App.svelte
  webpack/components/ReportList.svelte
  webpack/controllers/parser_controller.js
  webpack/stores/report.js
Due: eslint

fix focus on line
  webpack/components/App.svelte
Due: none

add markers begin
  webpack/components/App.svelte
Due: none
