Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

Deploying to gh-pages from @ le0pard/vmail@f42ac443afabd49a3857c9d40607a63413a0271a 🚀
  404.html.gz
  app-0d71407f145c7232c8d8.js
  app-0d71407f145c7232c8d8.js.gz
  app-0d71407f145c7232c8d8.js.map
  app-3d1c84885f948f8e1d0c.js
  app-3d1c84885f948f8e1d0c.js.gz
  app-3d1c84885f948f8e1d0c.js.map
  app-ace3a96b12d4e223afe8.css
  app-ace3a96b12d4e223afe8.css.gz
  app-ace3a96b12d4e223afe8.css.map
  app-d43e574195d15b64791d.css
  app-d43e574195d15b64791d.css.gz
  app-d43e574195d15b64791d.css.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-d85c88bfd0843d327c1a.js.gz
Due: eslint

move to ruby 3.1.0
  .tool-versions
  Gemfile.lock
  config.rb
  lib/assets_helpers.rb
  source/index.html.erb
  source/layouts/layout.html.erb
Due: rubocop, bundle-check

move to ruby 3.1.0
  .rubocop.yml
Due: none

Deploying to gh-pages from @ le0pard/vmail@4c5e471692d49ca8094225b9064dca090f821c16 🚀
  404.html.gz
  app-3d1c84885f948f8e1d0c.js.gz
  app-ace3a96b12d4e223afe8.css.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-d85c88bfd0843d327c1a.js.gz
Due: none

fix node_modules resolve
  webpack.config.js
Due: eslint

update packages
  package.json
  yarn.lock
Due: none

update packages
  yarn.lock
Due: none

update packages
  .github/workflows/deploy.yml
Due: none

update packages
  babel.config.js
  package.json
  yarn.lock
Due: eslint

new node
  .github/workflows/deploy.yml
  .tool-versions
  package.json
Due: none

Deploying to gh-pages from @ le0pard/vmail@eb00cc4b806c05a864445686beb535a69cc4616e 🚀
  404.html.gz
  app-a01d0abc26853de5957e.css.gz
  app-fa16818de4fc2120f675.js.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-1050f25943468528a63b.js.gz
Due: none

new deploy
  .github/workflows/deploy.yml
Due: none

Deploying to gh-pages from @ le0pard/vmail@b564f83a51c8192b0f00f018dfce537fa943c402 🚀
  404.html.gz
  app-a01d0abc26853de5957e.css.gz
  app-fa16818de4fc2120f675.js.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-1050f25943468528a63b.js.gz
Due: none

remove rucksack-css
  Gemfile.lock
  assets/css/components/base.css
  package.json
  postcss.config.js
  yarn.lock
Due: eslint, bundle-check

Deploying to gh-pages from @ le0pard/vmail@4a313756c7c5f2ed4f4eae2f18765246b36e9e52 🚀
  404.html.gz
  app-a01d0abc26853de5957e.css
  app-a01d0abc26853de5957e.css.gz
  app-a01d0abc26853de5957e.css.map
  app-db16544596dc4364e5e6.css
  app-db16544596dc4364e5e6.css.gz
  app-db16544596dc4364e5e6.css.map
  app-fa16818de4fc2120f675.js.gz
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-1050f25943468528a63b.js.gz
Due: eslint

yarn upgrade
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: none

Deploying to gh-pages from @ le0pard/vmail@50f7364ab00424bd5b8e82f3f8053ece956ba5ae 🚀
  404.html.gz
  app-db16544596dc4364e5e6.css.gz
  app-fa16818de4fc2120f675.js.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-1050f25943468528a63b.js.gz
Due: none

remove postcss-browser-reporter
  package.json
  postcss.config.js
  yarn.lock
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@f3a0c145e8cfa2c0df041b976fcb1ded9bd018cc 🚀
  404.html.gz
  app-db16544596dc4364e5e6.css.gz
  app-fa16818de4fc2120f675.js.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-1050f25943468528a63b.js.gz
Due: none

cleanup
  assets/components/ThemeSwitcher.svelte
Due: none

Deploying to gh-pages from @ le0pard/vmail@248396f028a29609cc8e20309fbc3d50099352d4 🚀
  404.html.gz
  app-179acc6ad09edbf0c993.css
  app-179acc6ad09edbf0c993.css.gz
  app-179acc6ad09edbf0c993.css.map
  app-b3003e8d80afcfc40d34.js
  app-b3003e8d80afcfc40d34.js.gz
  app-b3003e8d80afcfc40d34.js.map
  app-db16544596dc4364e5e6.css
  app-db16544596dc4364e5e6.css.gz
  app-db16544596dc4364e5e6.css.map
  app-fa16818de4fc2120f675.js
  app-fa16818de4fc2120f675.js.gz
  app-fa16818de4fc2120f675.js.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-1050f25943468528a63b.js.gz
Due: eslint

remove node_modules
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix workbox
  package.json
  yarn.lock
Due: none

Deploying to gh-pages from @ le0pard/vmail@4808e77658af8968b8e9d8b4217a1de34e38264c 🚀
  404.html.gz
  app-179acc6ad09edbf0c993.css.gz
  app-179acc6ad09edbf0c993.css.map
  app-99ae668fcb2d76049696.js
  app-99ae668fcb2d76049696.js.gz
  app-99ae668fcb2d76049696.js.map
  app-b3003e8d80afcfc40d34.js
  app-b3003e8d80afcfc40d34.js.gz
  app-b3003e8d80afcfc40d34.js.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-071eb3d9c59fe01cfa15.js
  ww-071eb3d9c59fe01cfa15.js.gz
  ww-071eb3d9c59fe01cfa15.js.map
  ww-1050f25943468528a63b.js
  ww-1050f25943468528a63b.js.gz
  ww-1050f25943468528a63b.js.map
Due: eslint

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update packages + add new rules
  lib/tasks/caniemail.rake
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
  yarn.lock
Due: rubocop

new packages
  .tool-versions
  Gemfile.lock
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@3600dea603c3ccff46dd6a23b10a873968ded7b6 🚀
  404.html.gz
  app-179acc6ad09edbf0c993.css.gz
  app-1be58fbe9388a1a83083.js
  app-1be58fbe9388a1a83083.js.gz
  app-1be58fbe9388a1a83083.js.map
  app-2e7a51f33b5c49e80015.js
  app-2e7a51f33b5c49e80015.js.gz
  app-2e7a51f33b5c49e80015.js.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  sw.js.map
  ww-189f743b2e1ebee7ab84.js
  ww-189f743b2e1ebee7ab84.js.gz
  ww-189f743b2e1ebee7ab84.js.map
  ww-e2851d88559f63d1d22c.js
  ww-e2851d88559f63d1d22c.js.gz
  ww-e2851d88559f63d1d22c.js.map
Due: eslint

Deploying to gh-pages from @ le0pard/vmail@e45d8c54590d61e996e10d9b409c9f1ed0776b46 🚀
  404.html.gz
  app-179acc6ad09edbf0c993.css.gz
  app-1be58fbe9388a1a83083.js
  app-1be58fbe9388a1a83083.js.gz
  app-1be58fbe9388a1a83083.js.map
  app-4806df69ef472eca09f1.js
  app-4806df69ef472eca09f1.js.gz
  app-4806df69ef472eca09f1.js.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-189f743b2e1ebee7ab84.js.gz
Due: eslint

remove verbose
  .github/workflows/deploy.yml
Due: none

Deploying to gh-pages from @ le0pard/vmail@d6e105ed2e6e7a68a2c2710d353adeb0f710fa7f 🚀
  404.html.gz
  app-179acc6ad09edbf0c993.css.gz
  app-4806df69ef472eca09f1.js.gz
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html.gz
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js.gz
  ww-189f743b2e1ebee7ab84.js.gz
Due: none

Update db
  Gemfile.lock
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: bundle-check

Deploying to gh-pages from @ le0pard/vmail@3ccaa0996c4ccb908fd6bc7ff35a34e1360947b9 🚀
  404.html.gz
  app-179acc6ad09edbf0c993.css.gz
  app-4806df69ef472eca09f1.js
  app-4806df69ef472eca09f1.js.gz
  app-4806df69ef472eca09f1.js.map
  app-6c8681ee2ad666925309.js
  app-6c8681ee2ad666925309.js.gz
  app-6c8681ee2ad666925309.js.map
  faq.html
  faq.html.gz
  favicon.svg.gz
  images/dark-logo.svg.gz
  images/light-logo.svg.gz
  index.html
  index.html.gz
  manifest.json
  parser.wasm
  samples/email_sample.html.gz
  svg/sprite.svg.gz
  sw.js
  sw.js.gz
  ww-189f743b2e1ebee7ab84.js.gz
Due: eslint

update db + golang version
  .github/workflows/deploy.yml
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop, bundle-check

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
