Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

bundle-check:
  run: bundle check

chnage split state before event
  webpack/components/ReportList.svelte
Due: none

add test check
  wasm/parser/parser_test.go
Due: none

fix license title
  LICENSE
Due: none

no need error to for parser init
  wasm/parser/parser.go
Due: none

add favicon to sw
  webpack/sw.js
Due: eslint

add more favicon to sw
  webpack/sw.js
Due: eslint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

remove critical usage
  config.rb
  gulpfile.js
  package.json
  yarn.lock
Due: rubocop, eslint

bg color
  source/layouts/layout.html.erb
Due: none

apply meta from JS
  webpack/utils/theme.js
Due: eslint

add icons
  source/apple-touch-icon.png
  source/favicon.ico
  source/icon-192x192.png
  source/icon-512x512.png
  source/images/dark-logo.svg
  source/images/light-logo.svg
  source/maskable_icon.png
  source/static_pages/faq.html.erb
  webpack/components/EditorViewHeader.svelte
  webpack/components/Icon.svelte
  webpack/css/faq.sass
Due: none

add icons in svg which support prefers-color-scheme
  source/favicon.svg
  source/static_pages/faq.html.erb
  webpack/components/EditorViewHeader.svelte
  webpack/css/faq.sass
Due: none

change helpers texts
  lib/defaults_site_helpers.rb
  lib/svg/sprite.svg.erb
  lib/svg/svg_icons/apple.svg
  lib/svg/svg_icons/menu.svg
  package.json
  source/svg/sprite.svg
  yarn.lock
Due: rubocop

add sample button
  source/samples/email_sample.html
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/ReportView.svelte
  webpack/lib/constants.js
  webpack/lib/sampleHelpers.js
  webpack/stores/report.js
Due: eslint

update sample - add images
  source/samples/email_sample.html
Due: none

do not minify sample
  config.rb
Due: rubocop

add gif
  source/samples/email_sample.html
Due: none

fix fetch for offline
  webpack/components/ReportError.svelte
  webpack/lib/sampleHelpers.js
  webpack/utils/memoize.js
Due: eslint

add GA
  source/layouts/layout.html.erb
Due: none

add explanation
  README.md
Due: none

add test for nested media query
  wasm/parser/parser_test.go
Due: none

update packages
  package.json
  yarn.lock
Due: none

add readme text
  README.md
Due: none

Update README.md
  README.md
Due: none

more text
  README.md
  source/humans.txt
Due: none

add baner
  source/images/baner.png
Due: none

add baner
  source/static_pages/faq.html.erb
Due: none

improve FAQ
  source/static_pages/faq.html.erb
  webpack/css/faq.sass
Due: none

improve FAQ
  source/static_pages/faq.html.erb
Due: none

change meta
  lib/defaults_site_helpers.rb
Due: rubocop

change title
  source/index.html.erb
Due: none

faq fix
  source/static_pages/faq.html.erb
Due: none

more test for media parser
  wasm/parser/parser_test.go
Due: none

removed unused deps
  lefthook.yml
  package.json
  yarn.lock
Due: none

typo
  source/images/banner.png
Due: none

more text
  README.md
  webpack/components/ReportEmpty.svelte
Due: none

more text
  webpack/components/ReportEmpty.svelte
Due: none

add card
  source/layouts/layout.html.erb
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
  bundle-check: any of: {Gemfile,Gemfile.lock,*.gemspec}
