Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

use clamp for typography
  src/styles/components/base.css
Due: none

use latest ruby
  .github/workflows/deploy.yml
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

use latest ruby
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

typo
  .github/workflows/deploy.yml
Due: none

typo
  package.json
  yarn.lock
Due: none

new libs
  .github/workflows/codeql-analysis.yml
  package.json
  yarn.lock
Due: none

update libs
  .tool-versions
  Gemfile.lock
Due: bundle-check

update packages
  .github/workflows/deploy.yml
  .tool-versions
  Gemfile.lock
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: bundle-check

use build in codeql
  .github/workflows/codeql-analysis.yml
Due: none

update db
  lib/tasks/caniemail.rake
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/caniuse.json
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: rubocop

update yarn
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix theme switcher
  src/components/EditorView.svelte
Due: none

scrollbar colors
  src/styles/components/base.css
Due: none

update action
  .github/workflows/deploy.yml
Due: none

update
  .github/workflows/deploy.yml
  lib/tasks/caniemail.rake
  wasm_parser/parser/caniuse.json
Due: rubocop

update
  .rubocop.yml
Due: none

update libs
  package.json
  yarn.lock
Due: none

udpate
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: none

update
  .eslintrc
  .prettierrc
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  astro.config.mjs
  package.json
  yarn.lock
Due: none

update
  .github/workflows/deploy.yml
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_inliner/inliner/go.mod
  wasm_inliner/inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
  wasm_parser/parser/go.mod
  wasm_parser/parser/go.sum
Due: none

update lock
  package.json
  yarn.lock
Due: none
