Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

update
  .github/workflows/deploy.yml
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update
  package.json
  yarn.lock
Due: none

update
  yarn.lock
Due: none

up ruby
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update libs
  .github/workflows/deploy.yml
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update css prefix
  lefthook.yml
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

update wasm data
  lib/tasks/caniemail.rake
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: rubocop

update golang
  .github/workflows/deploy.yml
Due: none

rollback update golang
  .github/workflows/deploy.yml
Due: none

update codeql
  .github/workflows/codeql-analysis.yml
Due: none

update libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update codemirror
  .github/workflows/deploy.yml
  Gemfile
  Gemfile.lock
  assets/components/EditorView.svelte
  assets/lib/codemirrorDarkTheme.js
  assets/lib/codemirrorValidationErrors.js
  package.json
  wasm_parser/parser/caniuse.json
  yarn.lock
Due: eslint, bundle-check

update go packages
  wasm_inliner/go.mod
  wasm_inliner/go.sum
  wasm_parser/go.mod
  wasm_parser/go.sum
Due: none

fix buttons for line reports
  assets/components/EditorView.svelte
Due: none

fix prettier
  .prettierrc
  README.md
  assets/components/EditorView.svelte
Due: none

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

new libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

libs
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

update json
  wasm_parser/parser/caniuse.json
Due: none

update
  assets/components/EditorView.svelte
  package.json
  yarn.lock
Due: none
