Repository le0pard/vmail: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, bundle-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

split by components
  webpack/components/App.svelte
  webpack/components/EditorView.svelte
  webpack/components/ReportList.svelte
  webpack/css/app.sass
  webpack/css/codemirror.sass
  webpack/lib/constants.js
  webpack/lib/coremirror-validation-errors.js
  webpack/stores/report.js
Due: eslint

start css
  config.rb
  source/layouts/layout.html.erb
  source/static_pages/about.html.erb
  source/static_pages/faq.html.erb
  webpack/components/App.svelte
  webpack/components/EditorView.svelte
  webpack/controllers/parser_controller.js
  webpack/css/app.sass
  webpack/lib/constants.js
  webpack/lib/coremirror-validation-errors.js
  webpack/stores/report.js
  webpack/sw.js
Due: rubocop, eslint

update stores
  lib/tasks/caniemail.rake
  wasm/parser/caniuse.json
  webpack/components/App.svelte
  webpack/components/EditorView.svelte
  webpack/lib/constants.js
  webpack/stores/report.js
Due: rubocop, eslint

update stores
  wasm/parser/parser_test.go
Due: none

split view
  source/images/about/alexey.jpg
  source/images/about/alexey.jpg.webp
  source/images/about/alexey@2x.jpg
  source/images/about/alexey@2x.jpg.webp
  source/images/backgrounds/main_bg.png
  source/images/favicons/apple-icon-2048x2048.png
  source/images/favicons/apple-touch-icon-114x114-precomposed.png
  source/images/favicons/apple-touch-icon-120x120-precomposed.png
  source/images/favicons/apple-touch-icon-144x144-precomposed.png
  source/images/favicons/apple-touch-icon-152x152-precomposed.png
  source/images/favicons/apple-touch-icon-60x60-precomposed.png
  source/images/favicons/apple-touch-icon-72x72-precomposed.png
  source/images/favicons/apple-touch-icon-76x76-precomposed.png
  source/images/favicons/apple-touch-icon-precomposed.png
  source/images/favicons/favicon.ico
  source/images/favicons/favicon.png
  source/images/favicons/favicon_base.png
  source/images/favicons/favicon_base.svg
  source/images/favicons/launcher-icon-192x192.png
  source/images/favicons/launcher-icon-512x512.png
  source/images/favicons/maskable_icon.png
  source/images/favicons/pgtune.svg
  source/images/favicons/pgtune_dark.svg
  source/layouts/layout.html.erb
  webpack/components/App.svelte
  webpack/components/EditorView.svelte
  webpack/components/ReportView.svelte
  webpack/components/SplitView.svelte
  webpack/css/app.sass
  webpack/stores/report.js
  webpack/stores/split.js
Due: eslint

split view
  webpack/components/App.svelte
  webpack/lib/constants.js
Due: eslint

split on more views
  webpack/components/App.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/ReportViewHeader.svelte
Due: none

fix prod build
  gulpfile.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

add list
  webpack/components/ReportList.svelte
  webpack/components/ReportMultiItem.svelte
  webpack/components/ReportSingleItem.svelte
  webpack/components/SplitView.svelte
  webpack/css/app.sass
  webpack/lib/constants.js
  webpack/lib/report-helpers.js
  webpack/stores/split.js
Due: eslint

add list
  webpack/components/ReportMultiItem.svelte
  webpack/components/ReportSingleItem.svelte
Due: none

improve support
  lib/tasks/caniemail.rake
  wasm/parser/caniuse.json
  webpack/components/ReportEmpty.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportList.svelte
  webpack/components/ReportSingleItem.svelte
  webpack/components/ReportView.svelte
  webpack/lib/report-helpers.js
Due: rubocop, eslint

improve support
  webpack/components/ReportItem.svelte
Due: none

fix tests
  wasm/parser/parser_test.go
Due: none

show clients
  Gemfile.lock
  lib/tasks/caniemail.rake
  package.json
  source/index.html.erb
  webpack.config.js
  webpack/components/App.svelte
  webpack/components/ReportItem.svelte
  webpack/controllers/parser_controller.js
  webpack/lib/report-helpers.js
  webpack/ww.js
  yarn.lock
Due: rubocop, eslint, bundle-check

improve styling
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/components/SplitView.svelte
  webpack/css/app.sass
Due: none

improve styling for list
  webpack/components/ClientList.svelte
  webpack/components/EditorView.svelte
  webpack/components/EditorViewHeader.svelte
  webpack/components/ReportEmpty.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportView.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/css/app.sass
  webpack/lib/report-helpers.js
  webpack/ww.js
Due: eslint

improve styling for list
  webpack/components/ClientList.svelte
Due: none

improve notes buttons to highlight on focus
  webpack/components/ClientList.svelte
  webpack/components/NotesList.svelte
  webpack/components/ReportEmpty.svelte
  webpack/components/ReportItem.svelte
  webpack/css/app.sass
  webpack/stores/notes.js
Due: eslint

add states
  lib/tasks/caniemail.rake
  webpack/components/EditorView.svelte
  webpack/components/Error.svelte
  webpack/components/ReportError.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportList.svelte
  webpack/components/ReportLoading.svelte
  webpack/components/ReportView.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/controllers/parser_controller.js
  webpack/css/app.sass
  webpack/lib/report-helpers.js
  webpack/stores/split.js
Due: rubocop, eslint

fix typo
  lib/tasks/caniemail.rake
Due: rubocop

made theme switcher
  webpack/components/App.svelte
  webpack/components/EditorView.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportViewHeader.svelte
  webpack/components/ThemeSwitcher.svelte
  webpack/css/app.sass
  webpack/lib/codemirrorDarkTheme.js
  webpack/lib/codemirrorValidationErrors.js
  webpack/lib/constants.js
  webpack/lib/localStorage.js
  webpack/lib/reportHelpers.js
  webpack/lib/themeSwitcher.js
  webpack/stores/theme.js
  webpack/ww.js
Due: eslint

remove not needed svg
  lib/svg/svg_icons/envelope.svg
  lib/svg/svg_icons/facebook.svg
  lib/svg/svg_icons/foursquare.svg
  lib/svg/svg_icons/gplus.svg
  lib/svg/svg_icons/instagramm.svg
  lib/svg/svg_icons/linkedin.svg
  lib/svg/svg_icons/pause.svg
  lib/svg/svg_icons/play.svg
  lib/svg/svg_icons/rss.svg
  lib/svg/svg_icons/search.svg
  lib/svg/svg_icons/telegram.svg
  lib/svg/svg_icons/twitter.svg
  lib/svg/svg_icons/volume-down.svg
  lib/svg/svg_icons/volume-off.svg
  lib/svg/svg_icons/volume-up.svg
  source/svg/sprite.svg
Due: none

cleanup methods
  webpack/components/EditorView.svelte
Due: none

add tooltips
  webpack/components/ClientList.svelte
  webpack/components/EditorView.svelte
  webpack/components/NotesList.svelte
  webpack/components/ReportItem.svelte
  webpack/components/ReportList.svelte
  webpack/css/codemirror.sass
  webpack/lib/codemirrorValidationErrors.js
  webpack/lib/reportHelpers.js
  webpack/stores/report.js
Due: eslint

add github icon
  webpack/components/ReportViewHeader.svelte
Due: none

fix theme switcher not not remove different classes on html
  webpack/lib/themeSwitcher.js
Due: eslint

add faq styles
  source/static_pages/faq.html.erb
  webpack/app.js
  webpack/components/App.svelte
  webpack/components/ReportView.svelte
  webpack/components/ThemeSwitcher.svelte
  webpack/css/app.sass
  webpack/css/faq.sass
  webpack/stores/theme.js
  webpack/utils/theme.js
Due: eslint

add autodeploy
  .github/workflows/deploy.yml
Due: none

fix test
  wasm/parser/parser_test.go
Due: none

add rubocop + eslint checks
  .eslintrc
  .github/workflows/deploy.yml
  .rubocop.yml
  README.md
  lib/tasks/caniemail.rake
  package.json
  webpack/controllers/parser_controller.js
  webpack/lib/codemirrorDarkTheme.js
  webpack/lib/codemirrorValidationErrors.js
  webpack/lib/constants.js
  webpack/lib/reportHelpers.js
  webpack/stores/notes.js
  yarn.lock
Due: rubocop, eslint

add rubocop + eslint checks
  .github/workflows/deploy.yml
Due: none

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: bundle-check

exclude vendors dir
  .rubocop.yml
Due: none

add links basic colors
  source/static_pages/faq.html.erb
  webpack/css/app.sass
Due: none

change favicons + fixed header in FAQ
  README.md
  source/apple-touch-icon.png
  source/favicon.ico
  source/favicon.svg
  source/icon-192x192.png
  source/icon-512x512.png
  source/images/.gitignore
  source/images/.gitkeep
  source/images/favicons/.gitignore
  source/images/favicons/apple-touch-icon-114x114-precomposed.png
  source/images/favicons/apple-touch-icon-120x120-precomposed.png
  source/images/favicons/apple-touch-icon-144x144-precomposed.png
  source/images/favicons/apple-touch-icon-60x60-precomposed.png
  source/images/favicons/apple-touch-icon-72x72-precomposed.png
  source/images/favicons/apple-touch-icon-76x76-precomposed.png
  source/images/favicons/apple-touch-icon-precomposed.png
  source/images/favicons/favicon.ico
  source/images/favicons/favicon.png
  source/images/favicons/favicon_base.png
  source/images/favicons/pgtune_dark.svg
  source/images/logo.png
  source/images/logo.svg
  source/images/logo200.png
  source/images/plyr.svg
  source/images/schema_logo.png
  source/layouts/layout.html.erb
  source/manifest.json
  source/maskable_icon.png
  source/static_pages/faq.html.erb
  webpack/components/ClientList.svelte
  webpack/css/faq.sass
Due: none

move wasm to web worker
  wasm/main.go
  webpack/components/App.svelte
  webpack/components/EditorView.svelte
  webpack/components/ReportItem.svelte
  webpack/controllers/parser_controller.js
  webpack/init.js
  webpack/ww.js
Due: eslint

remove fixtures tests
  wasm/parser/fixtures/1.html
  wasm/parser/fixtures/2.html
  wasm/parser/fixtures/3.html
  wasm/parser/parser_test.go
Due: none

remove fixtures tests, remove unused imports
  wasm/parser/parser_test.go
Due: none

add more tests
  wasm/parser/parser_test.go
Due: none

chnage split state before event
  webpack/components/EditorView.svelte
  webpack/components/ReportList.svelte
Due: none
